.episodes-list__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.cards {
  max-width: 886px;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  justify-items: center;
}

@media screen and (max-width: 720px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
